black==26.1.0
pre-commit

# coverage
pytest-cov

# pylint and astroid should be pinned to exact versions
pylint==3.3.9
astroid==3.3.11

# docs
sphinx==7.1.*
nbsphinx
sphinx_rtd_theme

-e .[testing,notebooks,oli_api]
