black==24.3.0
pre-commit

# coverage
pytest-cov

# TODO pin exact version for pylint and astroid
pylint==3.3.9
astroid==3.3.11

# docs
sphinx==7.1.*
nbsphinx
sphinx_rtd_theme

-e .[testing,notebooks,oli_api]
