# Types of files to ignore
.*
!/.gitignore
*.pdf
*.png

# Directories to ignore categorically
tests/trash/
tests/output/
tests/debugging_pack/
old_tools/                                                                                                           

