# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Checks

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

defaults:
  run:
    # important to make sure that all commands on Windows are run using Bash
    # -l: login shell, needed when using Conda
    shell: bash -l {0}

env:
  # needed for colorized output to be shown in GHA logs
  PYTEST_ADDOPTS: "--color=yes"

jobs:
  tests:
    name: Tests (py${{ matrix.python-version }}/${{ matrix.os }})
    runs-on: ${{ matrix.os-version }}
# TODO: Grab cloud database password from encrypted repo secrets
# TODO: and place in environment so tests can use it.
#    env:
#      EDB_CLOUD_PASSWORD: ${{ secrets.EDB_CLOUD_PASSWORD }}
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - '3.7'
          - '3.8'
          - '3.9'
        os:
          - linux
          - win64
          # - macos
        include:
          - os: linux
            os-version: ubuntu-20.04
          - os: win64
            os-version: windows-2019
          # - os: macos
          #   os-version: macos-10.15
          - python-version: '3.8'
            # limit uploading coverage report for a single Python version in the matrix
            cov_report: true
          - os: linux
            # supercharge/mongodb-github-action is a container action, that's only available for Linux
            mongodb_server: true
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: watertap-dev
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        echo '::group::Output of "conda install" commands'
        conda install --quiet --yes pip=21.1 wheel setuptools pandoc
        echo '::endgroup::'
        echo '::group::Output of "pip install" commands'
        pip install --progress-bar off -r requirements-dev.txt
        echo '::endgroup::'
        echo '::group::Display installed packages'
        conda list
        pip list
        pip show idaes-pse
        echo '::endgroup::'
        echo '::group::Output of "idaes get-extensions" command'
        idaes get-extensions --verbose
        echo '::endgroup::'
    - name: Set up MongoDB server
      if: matrix.mongodb_server
      uses: supercharge/mongodb-github-action@3f91157600649d0002802978c8b6fb6ee659a2dd
      # with:
        # everything else being equal, we test against 4.03 since it's the latest available
        # through Conda, which makes installation significantly easier for users
        # mongodb-version: "4.03"
    - name: Test connection to MongoDB instance
      if: matrix.mongodb_server
      env:
        _tests_that_should_not_be_skipped: db_api
        _pytest_output_to_inspect: .pytest-edb-mongodb.log
      run: |
        # load EDB
        edb load -b
        # run subset of tests that should not be skipped if the MongoDB instance is accessible to the EDB
        pytest -k "$_tests_that_should_not_be_skipped" --verbose --capture=tee-sys | tee "$_pytest_output_to_inspect"
        echo '::group::pytest output to be inspected for skipped files'
        cat "$_pytest_output_to_inspect"
        echo '::endgroup::'
        echo '::group::output of grep searching for skipped tests in pytest output'
        bash -c 'grep "SKIPPED" "$_pytest_output_to_inspect" ; test $? -eq 1'
        echo '::endgroup::'
    - name: Require EDB tests to connect to MongoDB if server is set up
      # if: matrix.mongodb_server
      run:
        |
        # --pyargs watertap is needed to be able to define the CLI options in watertap/conftest.py
        # 
        echo PYTEST_ADDOPTS="$PYTEST_ADDOPTS --pyargs watertap --edb-no-mock" >> $GITHUB_ENV
    - name: Test EDB client
      run: pytest -k test_edb_client
    - name: Add coverage report pytest options
      if: matrix.cov_report
      run:
        |
        echo PYTEST_ADDOPTS="$PYTEST_ADDOPTS --cov-report=xml" >> $GITHUB_ENV
    - name: Run sample tests with new parametrization to show how parametrized tests are run
      env:
        _subset_to_show: -k test_pure_water_pH
      run: pytest $_subset_to_show --verbose
    - name: Test with pytest
      run: |
        pytest
    - name: Upload coverage report to Codecov
      if: matrix.cov_report
      uses: codecov/codecov-action@v2
    - name: Test documentation code
      run: |
        make -C docs doctest -d
    # TODO: this should be moved to a dedicated job/workflow
    # until then, we can leave this here as a reminder
    - name: Test documentation links
      if: 'false'
      run: |
        make -C docs linkcheck -d

  user-mode-pytest:
    name: pytest (user mode) (py${{ matrix.python-version }}/${{ matrix.os }})
    runs-on: ${{ matrix.os-version }}
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - '3.8'
        os:
          - linux
          - win64
        include:
          - os: linux
            os-version: ubuntu-20.04
          - os: win64
            os-version: windows-2019
    steps:
    - name: Set up Python ${{ matrix.python-version }}
      uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: watertap
        python-version: ${{ matrix.python-version }}
    - name: Define install URL (default)
      env:
        _repo_full_name: watertap-org/watertap
        _ref_to_install: main
      run: |
        echo "_install_url=https://github.com/${_repo_full_name}/archive/${_ref_to_install}.zip" >> $GITHUB_ENV
    - name: Define install URL (for PRs)
      if: github.event.pull_request
      env:
        _repo_full_name: ${{ github.event.pull_request.head.repo.full_name }}
        _ref_to_install: ${{ github.event.pull_request.head.sha }}
      run:
        echo "_install_url=https://github.com/${_repo_full_name}/archive/${_ref_to_install}.zip" >> $GITHUB_ENV
    - name: Install watertap and testing dependencies
      run: |
        echo '::group::Output of "pip install" commands'
        pip install --progress-bar off "watertap[testing] @ ${_install_url}"
        echo '::endgroup::'
        echo '::group::Display installed packages'
        conda list
        pip list
        pip show idaes-pse
        echo '::endgroup::'
        echo '::group::Output of "idaes get-extensions" command'
        idaes get-extensions --verbose
        echo '::endgroup::'
    - name: Run pytest
      run: |
        pytest --pyargs watertap

  macos:
    name: macOS setup (EXPERIMENTAL)
    runs-on: macos-10.15
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - '3.8'
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: watertap
        python-version: ${{ matrix.python-version }}
    - name: Install WaterTAP (dev) without idaes get-extensions
      run: |
        echo '::group::Output of "conda install" commands'
        conda install --quiet --yes pip=21.1 wheel setuptools pandoc
        echo '::endgroup::'
        echo '::group::Output of "pip install" commands'
        pip install --progress-bar off -r requirements-dev.txt
        echo '::endgroup::'
        # TODO: COSTING_UPDATE: 6.3.0 isn't bundled on PyPI with some files
        #       need for PyNumero. For now, we'll install 6.3.1.dev0 from GitHub
        echo '::group::Install Pyomo from GitHub'
        pip install pyomo https://github.com/pyomo/pyomo/archive/043b2a5.zip
        echo '::endgroup::'
        echo '::group::Display installed packages'
        conda list
        pip list
        pip show pyomo idaes-pse
        echo '::endgroup::'
    - name: Install Ipopt from conda-forge
      run:
        conda install --quiet --yes -c conda-forge ipopt
    - name: Build Pyomo extensions
      run: |
        conda install --quiet --yes cmake
        # some failures are expected, but this should succeed as long as pynumero is built correctly
        pyomo build-extensions || python -c "from pyomo.contrib.pynumero.asl import AmplInterface; exit(0) if AmplInterface.available() else exit(1)"
    - name: Run pytest
      run: |
        pytest --pyargs watertap
